---
layout: default
title: alaf @ alafazam.com
---

<div id="posts">

  {% for page in paginator.posts %}
  <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <p class="meta">
    {{ page.date | date: "%B %d, %Y" }}

    {% if page.tags.size > 0 %}
      <span class="mdash">&mdash;</span>
      <span class="inlinetags">
        <i class="fa fa-tags"></i>
        {% for tag in page.tags %}
          <a href="/tags.html#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
      </span>
    {% endif %}
  </p>

  {{ page.excerpt }}

  <b><a class="continue" href="{{ page.url }}">continue reading <i class="fa fa-arrow-circle-right"></i></a></b>
  {% endfor %}
  
  <!-- {{paginator.total_pages}} -->

  <!-- Pagination links -->
  {% if paginator.total_pages > 0 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
  {% endif %}

</div>
