---
layout: default
title: alaf @ alafazam.com
---


<div>
  {% assign lastd = "blah" %}
  {% for page in site.posts %}

    {% assign postmonth = page.date | date: "%B %Y" %}
    {% if postmonth != lastd %}
      {% if forloop.first != true %}</ul>{% endif %}
      <h2 id="{{ postmonth | replace:' ','_' | downcase }}">{{ postmonth }}</h2>
      <ul class="monthlist">
    {% endif %}
    {% assign lastd = postmonth %}

    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
      <p class="meta">
        {{ page.date | date: "%B %d, %Y" }}

        {% if page.tags.size > 0 %}
          <span class="mdash">&mdash;</span>
          <span class="inlinetags">
            <i class="fa fa-tags"></i>
            {% for tag in page.tags %}
              <a href="/tags.html#{{ tag }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </span>
        {% endif %}
      </p>

      {{ page.excerpt | strip_html | truncatewords:25 }}
    </li>
  {% endfor %}
  </ul>
</div>

