---
layout: default
title: alaf @ alafazam.com
---

<h2>All <i class="fa fa-tags"></i>tags</h2>


{% for tag in site.tags %}
  <div class="tagpage-header" id="{{ tag[0] }}">
    <span class="bigtag">{{ tag[0] }} <i class="fa fa-tag"></i></span>
    <span class="mdash">&mdash;</span>Articles by tag
  </div>

  <ul class="listposts">
    {% for page in tag[1] %}
      <li>
        <a href="{{ page.url }}">{{ page.title }}</a>
        <span class="mdash">&mdash;</span>
        {{ page.date | date: "%B %d, %Y" }}<br />
        {{ page.excerpt | strip_html | truncatewords:25 }}

      </li>
    {% endfor %}
    {% if forloop.last == false %}<hr />{% endif %}
  </ul>
{% endfor %}
