<nav {% if page.id %}class="pageview"{% endif %}>
  <h1>Hi.</h1>
  <a href="/" id="logo">
    <i class="fa fa-paper-plane-o fa-5x"></i>
  </a>
  <h2>I'm <a href="/">{{ site.name }}</a>.</h2>
  <hr/>

  <div id="recent-posts">
    <h3>Recent Articles</h3>
    <ul>
      {% assign lastd = site.time | date: "%B %Y" %}
      {% for post in site.posts limit:6 %}
        {% assign postmonth = post.date | date: "%B %Y" %}
        {% if postmonth != lastd %}
          <li>{{ postmonth }}</li>
        {% endif %}

        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% assign lastd = postmonth %}
      {% endfor %}
    </ul>
    <a href="/posts.html"><i class="fa fa-angle-double-right"></i> all posts</a>
    <span class="mdash">&mdash;</span>
    <a href="/tags.html"><i class="fa fa-angle-double-right"></i> all tags</a>
  </div>

  <div id="stalker">
    Follow me:
    <ul>
      {% if site.social.github %}
      <li>
        <a title="{{ site.social.github }} on Github" href="https://github.com/{{ site.social.github }}">
          <i class="fa fa-github-square"></i>
        </a>
      </li>
      {% endif %}

      {% if site.social.stackoverflow %}
      <li>
        <a class="fa-stack" title="{{ site.name }} on Stack Overflow" href="http://stackoverflow.com/users/{{site.social.stackoverflow }}">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
        </a>
      </li>
      {% endif %}

      {% if site.social.facebook %}
      <li>
        <a title="{{ site.name }} on Facebook" href="https://facebook.com/{{ site.social.facebook }}">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
      {% endif %}

      {% if site.social.linkedin %}
      <li>
        <a title="{{ site.name }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </li>
      {% endif %}

      {% if site.social.gplus %}
      <li>
        <a title="{{ site.name }} on Google Plus" href="https://plus.google.com/{{ site.social.gplus }}">
          <i class="fa fa-google-plus-square"></i>
        </a>
      </li>
      {% endif %}

      {% if site.social.spotify %}
      <li>
        <a title="{{ site.name }} on Spotify" href="http://open.spotify.com/user/{{ site.social.spotify }}">
          <i class="fa fa-spotify"></i>
        </a>
      </li>
      {% endif %}

      <li>
        <a title="RSS feed" id="rss" href="/atom.xml">
          <i class="fa fa-rss-square"></i>
        </a>
      </li>
    </ul>
    <div style="clear:both;"></div>
  </div>

  <i id="navdivider" class="fa fa-asterisk fa-3x"></i>
</nav>
