
#navdivider {
  display: none;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #navdivider {
    padding-top: 25px;
    display: block;
    text-align: center;
    color: #ddd;
  }
	nav {
    position: relative;
  }


  nav.pageview #stalker,
  nav.pageview #recent-posts,
  nav.pageview h1, nav.pageview h2,
  nav.pageview #navdivider
  { display: none; }

	nav ul, .content {
		border: 0px;
		padding-left: 0px;
	}
}

